.container {
  width: calc(100% - 2px);
  height: var(--header-width);
  border: solid var(--border-color);
  border-width: 0 0 1px 0;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(0px, 0px);
  background-color: var(--bg);
  z-index: 10;
}

.wrapper {
  font-family: 'Asket';
  font-size: 20px;
  text-transform: uppercase;
  margin: 15px;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.text {
  margin-left: 28px;
}

@media screen and (max-width: 768px) {
  .container {
    border: none;
  }

  .wrapper {
    display: none;
  }
}
