.container {
  width: calc(100% - 2px);
  height: var(--header-width);
  border: 1px solid var(--border-color);
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(0px, 0px);
  background-color: var(--bg);
  z-index: 10;
}
