.about {
  padding: 10rem 0 10rem 0;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.about__subheading {
  font-size: 2.2rem;
}

.about__subheading span {
  background-color: var(--deep-dark);
  padding: 0.5rem;
  border-radius: 8px;
}

.about__heading {
  font-size: 3.6rem;
}

.about__info .past {
  max-width: 100%;
  line-height: 2.7rem;
}

.about__info .past:last-of-type {
  margin: 2rem 0 0 0;
}

.about__info__item {
  margin-top: 5rem;
}

.about__info__heading {
  font-size: 3.6rem;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 10rem 0;
  }
  .top-section {
    flex-direction: column;
    gap: 5rem;
  }
  .about__subheading {
    font-size: 1.8rem;
  }
  .about__heading {
    font-size: 2.8rem;
  }
  .about__info__heading {
    font-size: 3rem;
  }
}

@media screen and (max-width: 668px) {
  .about__info__heading {
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .about__subheading {
    display: grid;
    grid-row-gap: 7px;
    width: fit-content;
  }
}
