@font-face {
  font-family: 'Asket Narrow';
  src: url('AsketNarrow-Light.eot');
  src:
    local('Asket Narrow Light'),
    local('AsketNarrow-Light'),
    url('AsketNarrow-Light.eot?#iefix') format('embedded-opentype'),
    url('AsketNarrow-Light.woff2') format('woff2'),
    url('AsketNarrow-Light.woff') format('woff'),
    url('AsketNarrow-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Asket Condensed';
  src: url('AsketCondensed-ExtraBold.eot');
  src:
    local('Asket Condensed ExtraBold'),
    local('AsketCondensed-ExtraBold'),
    url('AsketCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('AsketCondensed-ExtraBold.woff2') format('woff2'),
    url('AsketCondensed-ExtraBold.woff') format('woff'),
    url('AsketCondensed-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Asket';
  src: url('Asket-ExtraBold.eot');
  src:
    local('Asket ExtraBold'),
    local('Asket-ExtraBold'),
    url('Asket-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('Asket-ExtraBold.woff2') format('woff2'),
    url('Asket-ExtraBold.woff') format('woff'),
    url('Asket-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Asket Extended';
  src: url('AsketExtended-Light.eot');
  src:
    local('Asket Extended Light'),
    local('AsketExtended-Light'),
    url('AsketExtended-Light.eot?#iefix') format('embedded-opentype'),
    url('AsketExtended-Light.woff2') format('woff2'),
    url('AsketExtended-Light.woff') format('woff'),
    url('AsketExtended-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
