@import url('normalize.css/normalize');

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 8px;
}

a {
  font-family: 'Cousine', monospace;
}

footer {
  font-family: 'Cousine', monospace;
}
