@import url(../../vendor/fonts.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-bg: #0d1117;
  --white: #ffffff;
  --gray: #40464d;
  --deep-dark: #161B22;
  --purple: #d2a8ff;
  --green: #7ee787;
}

html {
  font-size: 10px;
  font-family: 'Roboto Mono';
  background-color: var(--dark-bg);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  outline: none;
}

.heading-color {
  color: var(--purple);
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
