@import '../../styles/globalComponentStyles.module.scss';

.container {
  z-index: 2;
  background: #df81ac;
  height: auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  gap: 10px;
  margin: 0 35px;
  padding: 60px 0;
}

.skills {
  width: fit-content;
  background: transparent;
  border: 1px solid;
  color: white;
  z-index: 3;
  padding: 8px;
  display: flex;
  align-items: flex-end;
}

.text {
  text-transform: uppercase;
  margin-left: 5px;
}

.image {
  width: 20px;
  height: 20px;
}

.picture {
  width: fit-content;
  height: 20px;
}
