%titles {
  text-transform: uppercase;
  color: white;
  margin: 0;
}

%items {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

%text {
  text-transform: uppercase;
  line-height: 1rem;
  color: white;
}

.container {
  z-index: 2;
  background: #df81ac;
  height: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  gap: 24px;
  margin: 0 35px;
  padding: 60px 0;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.items {
  &_skills {
    @extend %items;
  }
  &_experience {
    @extend %items;
    flex-direction: column;
  }
}

.item {
  width: fit-content;
  background: transparent;
  border: 1px solid;
  color: white;
  padding: 8px;
  display: flex;
  align-items: flex-end;
}

.title {
  @extend %titles;
  font-size: 24px;
  font-family: 'Asket';
}

.subtitle {
  @extend %titles;
  font-size: 18px;
}

.text {
  &_skills {
    @extend %text;
    margin-left: 5px;
  }
  &_experience {
    @extend %text;
  }
}

.description {
  color: white;
}

.image {
  width: 20px;
  height: 20px;
}

.picture {
  width: fit-content;
  height: 20px;
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 16px;
  }

  .text {
    font-size: 14px;
  }

  .image {
    width: 16px;
    height: 16px;
  }

  .item {
    align-items: center;
    padding: 8px 8px 3px 8px;
  }
}
