.nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background: var(--dark-bg);
}

.nav__items {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.nav__items .nav__item {
  display: inline-block;
  border-radius: 8px;
  transition: 0.3s ease background-color;
}

.nav__items .nav__item:hover {
  background-color: var(--deep-dark);
}

.nav__items a {
  display: inline-block;
  font-family: 'RobotoMono Regular';
  padding: 1rem 2rem;
  font-size: 2rem;
  color: var(--white);
  outline: none;
}

.nav__items .active {
  color: var(--purple);
}

.nav__burger-button {
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 4rem;
  cursor: pointer;
  display: none;
  outline: none;
}

.nav__burger-button * {
  pointer-events: none;
}

.nav__items .nav__close-button {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav {
    padding: 0;
  }
  .nav__items_hide {
    transform: translateY(calc(-100% - 1rem));
  }
  .nav__burger-button {
    display: block;
  }
  .nav__items {
    transition: 0.3s ease transform;
    background-color: var(--deep-dark);
    padding: 2rem;
    width: 90%;
    max-width: 300px;
    border-radius: 12px;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  .nav__items .nav__close-button {
    display: block;
    width: 3rem;
    margin: 0 0 0 auto;
    cursor: pointer;
  }
  .nav__items .nav__close-button * {
    pointer-events: none;
  }
  .nav__items .nav__item {
    display: block;
    margin-bottom: 1rem;
  }
}
