.footer {
  background: #000;
  color: #fff;
  height: 95px;
  display: flex;
  justify-content: center;
  //height: fit-content;
  padding: 0 35px;
  //width: 100%;
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Asket';
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  height: fit-content;
  gap: 6px;
}

@media screen and (max-width: 425px) {
  .copyright {
    font-size: 0.6rem;
  }

  .footer {
    height: 145px;
  }
}
