@import '../../styles/colors';
@import '../../styles/vars';
@import '../../styles/mixins';

.footer {
  background: $bg;
  color: $fg;
  height: 95px;
  display: flex;
  justify-content: center;
  padding: 15px 35px 0;
  @media screen and (max-width: #{$s + px}) {
    height: 145px;
  }
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  @include adaptive-font(19, 16);
  text-transform: uppercase;
  height: fit-content;
  font-family: 'Major Mono Display', monospace;
  gap: 6px;
  @media screen and (max-width: #{$s + px}) {
    width: min-content;
  }
}
