@import '../../styles/globalComponentStyles.module.scss';

.copyright {
  font-family: "NeutralFace-Bold";
  background: #000;
  color: #fff;
  line-height: 1.5rem;
  letter-spacing: 0.5rem;
  font-size: 0.75rem;
  text-align: center;
}