//.container {
//  scroll-behavior: auto;
//  scrollbar-width: auto;
//  -webkit-overflow-scrolling: auto;
//  overflow:auto;
//  scrollbar-width: auto;
//}

//.container::-webkit-scrollbar {
//  width: 12px;
//  background-color: black;
//}
//.container::-moz-scrollbar {
//  width: 12px;
//  background-color: black;
//}
//.container::-ms-scrollbar {
//  width: 12px;
//  background-color: black;
//}
@import '../styles/globalComponentStyles.module.scss';

.container {
  margin-top: var(--header-width);
  background: var(--bg);
  overflow-x: hidden;
  overflow-y: scroll;
  //height: calc(100% - 145px);
}

//@media screen and (max-width: 768px) {
//  .container {
//    //height: calc(100vh - 95px);
//  }
//}
