//.container {
//  scroll-behavior: auto;
//  scrollbar-width: auto;
//  -webkit-overflow-scrolling: auto;
//  overflow:auto;
//  scrollbar-width: auto;
//}

//.container::-webkit-scrollbar {
//  width: 12px;
//  background-color: black;
//}
//.container::-moz-scrollbar {
//  width: 12px;
//  background-color: black;
//}
//.container::-ms-scrollbar {
//  width: 12px;
//  background-color: black;
//}
.container {
  background: var(--bg);
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
}
