.projects {
  padding: 10rem 0;
}

.projects__allItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5rem;
  margin-top: 5rem;
}

.projects__searchBar {
  position: relative;
  width: 300px;
  margin-top: 5rem;
}

.projects__searchBar ::placeholder{
  color: var(--white);
  opacity: 1;
}

.projects__searchBar::-ms-input-placeholder {
  color: var(--white);
}

.projects__searchBar input {
  width: 100%;
  font-size: 2rem;
  padding: 0.8rem;
  border-radius: 6px;
  outline: none;
  background: var(--deep-dark);
  border: 2px solid var(--purple);
}

.projects__searchBar .searchIcon {
  position: absolute;
  width: 2rem;
  right: 1rem;
  filter: invert;
}

/*.projects__searchBar .searchIcon path {
  color: var(--white);
}*/

@media only screen and (max-width: 768px) {
  .projects__searchBar,
  .projects__searchBar form,
  .projects__searchBar input {
    width: 100%;
  }
}
