.footer {
  margin-bottom: 5rem;
}
.footer__container {
  display: grid;
  grid-template-columns: 0.9fr 1fr 2fr;
  gap: 3rem;
}
.footer__items {
  flex: 1;
}
.copyright {
  text-align: left;
  padding: 1rem 0;
  margin-top: 5rem;
}
.copyright .past {
  margin-left: 0;
}
.copyright__text {
  width: fit-content;
}
.copyright__icon {
  width: 5%;
}
@media only screen and (max-width: 768px) {
  .footer {
    padding: 0 3rem;
  }
  .footer__container {
    flex-direction: column;
    gap: 0rem;
    grid-template-columns: auto;
    grid-template-areas:
      'map links'
      'contacts links';
  }
  .footer__site-map {
    grid-area: map;
  }
  .footer__contacts {
    grid-area: contacts;
  }
  .footer__links {
    grid-area: links;
  }
  .footer__links .footer__items_links {
    grid-template-columns: auto;
  }
  .footer__container > div {
    margin-top: 5rem;
  }
  .copyright {
    padding: 5rem 0;
    margin-top: 0;
  }
  .copyright .footer__container div {
    margin-top: 0;
  }
}

@media only screen and (max-width: 648px) {
  .copyright__icon {
    width: 8%;
  }
}

@media only screen and (max-width: 578px) {
  .footer__container {
    grid-template-areas:
      'contacts'
      'links'
      'map';
  }
}

@media only screen and (max-width: 425px) {
  .copyright__icon {
    width: 10%;
  }
}
