.heading {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

li {
  margin-bottom: 1rem;
}

a {
  font-size: 1.8rem;
}

.footer__links .footer__items_links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3rem;
  width: fit-content;
}