.scroll-to-top {
  position: fixed;
  bottom: 10%;
  right: -10px;
  transform: rotate(90deg);
  z-index: 20000;
  cursor: pointer;
}

.animation {
  animation: scrollTop 1s alternate ease infinite;
}

.scroll-to-top .text {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  border-radius: 100vw;
  background: var(--purple);
  color: var(--deep-dark);
  width: 115px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


@keyframes scrollTop {
  from {
      transform: translateX(4px);
  }
  to {
      transform: translateX(-1px);
  }
}
