.about__items {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  gap: 25px;
}

.title {
  font-size: 3.2rem;
}

.items {
  display: grid;
  gap: 1.5rem;
  /*position: absolute;*/
  /*left: 18rem;*/
}

.items__edu {
  display: flex;
  gap: 1.5rem;
  left: 18rem;
}

.items__grid {
  grid-template-columns: repeat(8, 1fr);
}

.item {
  display: flex;
  align-items: center;
  background-color: var(--deep-dark);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--dark-gray);
}

.text {
  font-size: 1.8rem;
  line-height: 1.3em;
  text-align: center;
  width: max-content;
}

@media screen and (max-width: 1180px) {
  .items__grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .text {
    width: 54rem;
  }
}

@media screen and (max-width: 940px) {
  .items__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .about__items {
    margin-top: 12rem;
  }
  .text {
    width: 48vw;
  }
}

@media only screen and (max-width: 768px) {
  .about__items {
    align-items: flex-start;
    gap: 6rem;
    margin-top: 6rem;
  }
  .items {
    position: initial;
    gap: 1rem;
  }
  .items__grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .title {
    font-size: 2rem;
  }
  .about__items_edu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  .text {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 668px) {
  .about__items {
    display: grid;
    justify-content: center;
    justify-items: center;
  }
  .items {
    position: static;
    grid-column-gap: 10vw;
  }
  .items__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .items__edu {
    left: 0;
    position: relative;
  }
}
