@font-face {
  font-family: 'NeutralFace';
  src: url('../assets/fonts/NeutralFace.woff') format('woff'),
    url('../assets/fonts/NeutralFace.woff2') format('woff2');
  text-transform: uppercase;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'NeutralFace-Bold';
  src: url('../assets/fonts/NeutralFace-Bold.woff') format('woff'),
    url('../assets/fonts/NeutralFace-Bold.woff2') format('woff2');
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ttr';
  src: url('../assets/fonts/TT\ Runs\ Trial\ Regular.woff') format('woff'),
    url('../assets/fonts/TT\ Runs\ Trial\ Regular.woff2') format('woff2');
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ttb';
  src: url('../assets/fonts/TT\ Runs\ Trial\ Black.woff')
      format('woff'),
    url('../assets/fonts/TT\ Runs\ Trial\ Black.woff2')
      format('woff2');
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tto';
  src: url('../assets/fonts/TT\ Runs\ Black\ Outline\ Trial.woff')
      format('woff'),
    url('../assets/fonts/TT\ Runs\ Black\ Outline\ Trial.woff2')
      format('woff2');
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
}
