@import 'normalize.css/normalize';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap';
@import 'colors';
@import 'vars';

html {
  scroll-behavior: auto;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  overflow: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
body::-moz-scrollbar {
  width: 0;
  background-color: transparent;
}
body::-ms-scrollbar {
  width: 0;
  background-color: transparent;
}

.container {
  width: $width;
  height: $height;
  background: blue;
  //border: solid $border-color;
  //border-width: $border-width;
}
